
.LoanCalculator {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    box-shadow: 0 0 10px 5px #cccc;
   padding: 50px;
}
.title{
    font-weight: bold;
    text-align: center;
}
LoanCalculator select, .LoanCalculator input[type="number"]{
width: 100% !important;
padding: 5px;
margin: 10px 0;
font-size: 18px;
}



.LoanCalculator input[type="range"] {

appearance: none;
background: #ccc;
height: 1px;
border-radius: 5px;
outline: none;
width: 100%;
padding: 5px;
margin: 10px 0;
font-size: 18px;
margin-top: 46px;

}

.LoanCalculator input[type="range"]::-webkit-slider-thumb {
appearance: none;
width: 15px;
height: 15px;
background-color: #009476;
border-radius: 50%;
cursor: pointer;
transition: background-color 0.3s ease;
}

.LoanCalculator input[type="range"]:focus::-webkit-slider-thumb {
background-color: #009476;
}
.LoanCalculator #result{
font-size: 21px;
font-weight: bold;
color: #009476;
margin-top: 10px;
text-align:center;
}

.LoanCalculator #monthlyPayment{
font-size: 21px;
font-weight: bold;
color: #009476;
margin-top: 10px;
text-align:center;

}
.LoanCalculator #result, .LoanCalculator #monthlyPayment, .LoanCalculator #totalInterest{
font-size: 21px;
font-weight: bold;
color: #009476;
margin-top: 20px  !important;
text-align: center;
margin-bottom: 20px;
}
.LoanCalculator #resultDisplay .result-label{
text-align:center;
}
.LoanCalculator .button-row {
display: flex;
justify-content: flex-end; 
gap: 10px; /* Space between the buttons */
margin-top: 20px;
padding-top:38px;
margin-bottom: 30px;
}
.LoanCalculator input[type="button"] {
font-size: 18px;
font-weight: bold;
color: #fff;
background-color: #009476;
border: none;
/* border-radius: 10px; */
cursor: pointer;
transition: background-color 0.3s ease;
margin-bottom: 15px;
width: 100%;
padding-top: 14px;
padding-bottom: 14px;
padding-left: 40px;
padding-right: 40px;
}

.LoanCalculator input[type="button"]:hover {
background-color: #009476;
}
.loancalculator span{
font-size: 18px;
font-weight: bold;
color: #333;
display: block;
text-align: right;
margin-top: 35px !important;
}
#LoanAmountDisplay{
margin-top: 20px !important;
margin-bottom: 35px;
}
#RateLabel{
margin-top:25px;
}
.LoanCalculator .form  span,
.LoanCalculator  span{
font-size: 20px;
font-weight: bold;
color: #333;
display: block;
text-align: right;
/*     margin-bottom: 10px; */
}
#yearsOptions{
margin-top:-25px;
}

